<html>
<head>
<title>ABOUT</title>
</head>

<body>
  <div align="center">
    <hr>
    <h1>My super AboutPage</h1>
    <hr>
    <%= image_tag("cat.jpg", height: '350', width: '350')  %>
    <br>
    Every kitty dreams ABOUT becoming Rails developer
    <hr>
    <footer>
      <%= link_to 'Home', root_path %>  
    </footer>
    <hr>
  </div>
</body>

</html>