<div class="center jumbotron">
  <%= image_tag("cat.jpg", height: '350', width: '350')  %>
  <br>
  <h3>Every kitty dreams ABOUT becoming Rails developer</h3>
  <br>
  <%= link_to "Home", root_path , class:"btn btn-primary btn-md" %>
</div>
