<div class="center jumbotron">
  <%= image_tag("cat.jpg", height: '350', width: '350')  %>
  <br>
  <h3>Home sweet HOME for every Rails developer</h3>
  <br>
  <%= link_to "About", about_path , class:"btn btn-primary btn-md" %>
</div>