<div class="center jumbotron">
  <%= image_tag("cat.jpg", height: '350', width: '350')  %>
  <br>
  <h3>Home sweet HOME for every Rails developer</h3>
  <br>
  <a href="#" class="btn btn-md btn-success">Log In</a>
  <br>
  <br>
</div>